html,
body {
    word-wrap: break-word;
    text-align: justify;
    /* margin-left: 20%; */
    margin: 0 auto;
}


#name-container {
    top: 0%;
    padding: 2%;
    position: absolute;
    vertical-align: middle;
    z-index: 1;
    padding-top: 10px;
    background-color: rgb(163, 228, 215);
    width: calc(100% - 10%);
    max-width: calc(100% - 5%);
    min-width: calc(100% - 4%);
    height: calc(100% - 90%);
    max-height: calc(100% - 90%);
    min-height: calc(100% - 90%);
}

#common-container {
    display: inline-block;
    position: absolute;
    width: 60%;
    height: 100%;
    max-width: 60%;
    min-width: 60%;
    margin: 2px;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 15%;
    /* max-height: 100%; */
    /* min-height: 100%; */
    box-shadow: 0px 0px 5px 5px rgb(148 155 154);
    overflow-y: scroll;
}


#search-container {
    /* top: 3%; */
    padding: 2%;
    position: absolute;
    vertical-align: middle;
    z-index: 2;
    padding-top: 10px;
    width: calc(100% - 55%);
    max-width: calc(100% - 55%);
    min-width: calc(100% - 55%);
    height: calc(100% - 98%);
    max-height: calc(100% - 98%);
    min-height: calc(100% - 98%);
    position: absolute;
    margin-left: 15%;
}

#next {
    /* position: absolute; */
    font-weight: bold;
    bottom: 3vw;
    right: -8vw;
    line-height: 2.3vw;
    width: 10%;
    text-align: center;
    border: black 1px solid;
    font-size: 1vw;
    transition: all 0.2s;
    margin-top: 1%;
    float: right;
}

#previous {
    /* position: absolute; */
    font-weight: bold;
    bottom: 3vw;
    right: -8vw;
    line-height: 2.3vw;
    width: 15%;
    text-align: center;
    border: black 1px solid;
    font-size: 1vw;
    transition: all 0.2s;
    margin-top: 1%;
}

#candidate-name {
    text-align: center;
    font-size: 1.5vw;
    margin-left: 40%;
    font-weight: bolder;
}


#applied-for {
    text-align: center;
    font-size: 1vw;
    margin-left: 35%;
    font-weight: bold;
}


#sidebar {
    top: 10%;
    position: absolute;
    width: calc(100% - 87%);
    max-width: calc(100% - 87%);
    min-width: calc(100% - 87%);
    max-height: 80%;
    padding: 15px;
    background-color: rgb(245, 183, 177);
    margin-left: 2%;
    margin-top: 5%;
}

#profile-container {
    position: absolute;
    margin-top: 10%;
    vertical-align: middle;
    width: calc(100% - 30%);
    padding: 10px;
    margin-left: 20%;
    max-width: calc(100% - 40%);
    min-width: calc(100% - 20%);
    /* height: calc(100% - 10%); */
    /* max-height: calc(100% - 10%); */
    /* min-height: calc(100% - 10%); */
}

#no-result-container {
    position: absolute;
    margin-top: 10%;
    vertical-align: middle;
    width: calc(100% - 60%);
    padding: 10px;
    margin-left: 30%;
    max-width: calc(100% - 60%);
    min-width: calc(100% - 60%);
    height: calc(100% - 60%);
    max-height: calc(100% - 60%);
    min-height: calc(100% - 60%);
    box-shadow: 0px 0px 5px 5px rgb(148 155 154);
    border: 2px solid black;
}

#container {
    /* display: inline-block;
    position: absolute; */
    width: 60%;
    height: 100%;
    max-width: 60%;
    min-width: 60%;
    /* margin: 2px;
    border: 1px solid black; */
    /* margin-top: 7%;
    margin-left: 15%; */
    max-height: 100%;
    min-height: 100%;
}




.main {
    margin-bottom: 20%;
    position: absolute;
}

.copyright {
    margin-left: 200px;
}

.work-experience {
    font-size: 1vw;
}

#work-experience-header {
    font-size: 2vw;
    /* margin-top: 5%; */
    height: 1%;
}

footer {
    position: absolute;
    text-align: left;
    bottom: 0%;
    background-color: cadetblue;
    text-align: center;
    width: 100%;
    height: 70px;
}

#movie {
    width: 213px;
    font-size: 21px;
    margin-left: 12px;
    padding: 20px;
    color: #ACACAC;
}

#job-search {
    width: 40%;
    min-width: 30%;
    max-width: 50%;
    /* height: 100%; */
    /* min-height: 100%; */
    /* max-height: 100%; */
    resize: none;
    margin-left: 20%;
    line-height: 1;
    margin-top: 0%;
    top: 0%;
}

#wrapper {
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 100%;
    height: 100%;
}

#img_candidate {
    height: calc(100% - 5%);
    width: calc(100% - 90%);
    min-height: (100% - 80%);
    min-width: (100% - 80%);
    max-height: (100% - 80%);
    max-width: (100% - 80%);
    float: right;
    margin-top: -6%;
}

#info-header {
    background: rgb(113, 125, 126);
    /* height: 10px; */
    width: calc(100%-1%);
    float: left;
    margin-left: -10%;
    margin-top: -4%;
}

#no-result {
    height: 40%;
    /* width: 30%; */
    margin-top: 10%;
}

.items-list {
    margin-top: -3%;
    margin-left: -3%;
    width: 90%
}